<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
<form method="POST" action="">

    {% csrf_token %}
    <label for="Old Password">Old Password</label>
    <input type="password" name="old_password">
    <br>
    <br>
    <label for="New Password">New Password</label>
    <input type="password" name="new_password1" >
    <br>
    <br>
    <label for="Confirm Password">Confirm Password</label>
    <input type="password" name="new_password2">
    <br>
    <br>
    <input type="submit">

</form>
</center>

</body>
</html>